# backend/.env
PORT=3000

# URI completa de tu clúster Atlas
# (puedes cambiar “anuies” por el nombre de la base que quieras usar)
MONGO_URI=mongodb+srv://mapa21:4xZCBhGzArUOo5hG@practicadistribuida.e5qazpg.mongodb.net/anuies?retryWrites=true&w=majority
